@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --rhythm-void: #0B1019;
  --rhythm-depth: #111823;
  --rhythm-surface: #161D2B;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

@layer base {
  html {
    @apply h-full;
  }
  body {
    @apply h-full;
  }
}
